#entry {
  height: max-content;
  // min-height: 133%;
  padding-top: 30px;
  // padding-bottom: 12%;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  h1 {
    // text-transform: capitalize;
    font-style: italic;
    font-size: 7vh;
    margin-top: 0;
    // white-space: nowrap;
    // text-decoration: underline;

    text-shadow: -2px 0px var(--color-bg), 2px 0px var(--color-bg), 0px -2px var(--color-bg), 0px 2px var(--color-bg),
      -2px -2px var(--color-bg), -2px 2px var(--color-bg), 2px -2px var(--color-bg), 2px 2px var(--color-bg);

    display: inline;

    box-shadow: inset 0 -0.205em var(--color-bg), inset 0 -0.25em var(--color-text);

    align-self: flex-start;
    transition: 0.5s, background-color 0s, box-shadow 0s;
  }

  h2 {
    transition: 0.5s, transform 0.25s;
    font-style: italic;
    transform-origin: left bottom;
    margin: 0;
  }

  h3 {
    margin-bottom: 0;
  }

  h4 {
    margin: 0;
    font-style: italic;
    font-size: 1.25rem;
  }

  padding-left: 5vw;
  padding-right: 5vw;

  .header {
    position: relative;
    .arrow {
      text-decoration: none;
      color: var(--color-text);
      position: absolute;
      left: -1.1em;
      top: 0.2em;
      font-size: 3em;
    }
  }

  .body {
    display: flex;
    height: calc(100vh - 100px - 7vh);
    width: 100%;
    gap: 5px;

    .panel {
      min-width: 0;
      min-height: 0;

      transition: 0.333s;

      overflow: hidden;
      position: relative;

      .panel-toggle {
        div {
          transition: left 0.25s, top 0.25s, transform 0.1s;
        }
        .rot {
          transition: transform 0.25s;
        }

        div {
          width: 25px;
          height: 25px;
          line-height: 25px;
          text-align: center;
          position: absolute;
        }

        color: var(--color-accent);
        cursor: pointer;
        font-family: fantasy;
        vertical-align: bottom;
        // line-height: 0;
        font-size: 1.5em;
        position: absolute;
        z-index: 1;

        &.vertical {
          // right: 0;
          height: 100%;
          width: 25px;
          div {
            top: calc(50% - 12.5px);
            // left: 50%;
          }
        }
        &.horizontal {
          width: 100%;
          height: 25px;
          div {
            left: calc(50% - 12.5px - 4px);
            // top: 50%;
          }
        }

        // justify-content: center;
        // align-items: center;

        // transition: transform 0.25s;
        // &:hover {
        //   transform: scale(1.5);
        // }

        &.arrow {
          top: -5px;
        }
      }

      .panel-scroll {
        transition: padding 0.333s;

        box-sizing: border-box;
        width: 100%;
        height: 100%;

        .panel-body {
          transition: opacity 0.5s;
        }
      }

      &:not(.openIcon) {
        cursor: pointer;
      }
      &:not(.open) {
        flex: 0 1 25px;

        &.comments {
          h2 {
            transform: rotate(90deg) translate(-1em, 1px);
          }
        }
        h2 {
          font-size: 14px;
          font-weight: normal;
          // margin-left: 20px;
          color: var(--color-accent);
        }
        .panel-scroll {
          padding: 5px;
          .panel-body {
            opacity: 0;
          }
        }
      }
      &.open {
        .panel-scroll {
          overflow: auto;
          // overflow-y: auto;
          // overflow-x: auto;
          padding: 25px;
        }

        flex: 1;
      }
      &.openIcon {
        .panel-toggle {
          // justify-content: flex-start;
          // align-items: flex-start;

          // width: 25px;
          // height: 25px;
          &.vertical {
            div {
              top: 0;
            }
          }
          &.horizontal {
            div {
              left: 0;
            }
          }

          .rot {
            transform: rotate(45deg);
          }
        }
      }
      border: 1px solid var(--color-accent);
    }

    .left {
      min-width: 0;
      // max-width: 33vw;
      flex: 1.5;
      display: flex;
      flex-direction: column;
      gap: 5px;

      .resources {
        .panel-scroll {
          display: flex;
          flex-direction: column;
          .panel-body {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;

            .resources-container {
              width: 100%;
              display: flex;
              flex-wrap: wrap;
              justify-items: center;
            }
            .add-resource {
              // max-width: 50%;
              display: flex;
              gap: 15px;
              input[placeholder="descriptor"] {
                max-width: 100px;
              }
            }
          }
        }
      }

      .images {
        h2 {
          margin-bottom: 15px;
        }
        .panel-scroll {
          padding-bottom: 0;
        }
        .panel-body {
          margin-left: -10px;
          margin-right: -10px;
        }
        .columns-container {
          width: 100%;
          display: flex;
          gap: 15px;
          .column {
            align-items: center;
            min-width: 0;
            flex: 1;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
            // align-items: flex-start;
            gap: 15px;

            img {
              max-width: 100%;
              display: block;
            }
          }
        }
      }
    }
    .right {
      flex: 1;
      display: flex;
    }
  }
}

#resource {
  margin: 2em;
  max-width: 500px;
  display: block;
  color: inherit;
  text-decoration: inherit;

  margin-left: 3em;
  position: relative;
  .star {
    position: absolute;
    left: -1.2em;
    font-size: 2em;
    top: 0.5em;
    transform: translateY(-50%);
  }
  .resource-container {
    border: 1px solid var(--color-accent);
    width: 100%;

    .resource-body {
      overflow: hidden;
      text-overflow: ellipsis;

      max-height: 8em;
      width: 100%;
      padding: 5px;
      display: flex;

      display: flex;
      gap: 10px;
      // height: 100px;
      .resource-text {
        padding-right: 5px;
        min-width: 0;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .resource-name {
          // font-size: 2em;
        }
        .resource-description {
        }
      }
      .resource-image-container {
        flex: 0.5;

        img {
          width: 100%;
          height: 100%;
          min-height: 0;
          min-width: 0;
          object-fit: cover;
          // height: auto;
        }
      }
    }
    .resource-footer {
      border-top: 1px solid var(--color-accent);
      padding: 2px;
      .url {
        width: 100%;
        // color: var(--color-accent2);
      }
    }
  }
}

#comment {
  margin-top: 25px;
  padding-left: 12px;

  .comment-header {
    transform: translateY(-1em);
    position: relative;
    margin-bottom: -0.75em;
    &::before {
      position: absolute;
      left: -1.2em;
      content: "↣";
    }
  }

  // margin-left: -12px;
  border-left: 1px solid var(--color-text);

  .comment-body {
    padding-left: 0.25em;
    // font-size: 1.2rem;
    margin-bottom: 2.5em;
    .text {
      // font-family: monospace;
    }
    &:hover,
    &:focus {
      .comment-footer {
        opacity: 1;
      }
    }
    position: relative;
    .comment-footer {
      height: 1.25em;
      bottom: -1.25em;
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;
      opacity: 0;
      button {
        color: var(--color-accent);
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}

// #comment .comment-body:hover {
//   .write-reply-button {
//     color: var(--color-accent);
//   }
// }

#reply {
  .write-reply {
    margin-top: 15px;
    font-family: monospace;

    .write-reply-body {
      margin-top: 8px;

      width: 100%;
      display: flex;
      align-items: flex-end;
      padding-bottom: 0px;
    }

    .replies {
      margin-left: 15px;
    }
  }
}
